<!-- post.html -->
{% extends 'base.html' %}
{% block title %} {{ post.title }} - 內容簡介 {% endblock %}
{% block headmessage %}
    <div class="head">
        <p style='font-family:微軟正黑體;font-size:20pt;font-weight:bold;'>{{ post.title }}</p>
    </div>
    <a style='font-family:微軟正黑體;color:8a817c;' href='/'>回首頁</a>
{% endblock headmessage %}
{% block content %} 
<div class="content">
    <div class="txt">
        <a style='font-family:微軟正黑體;font-size:12pt;letter-spacing:2pt;'>作者：{{ post.author }}</a>
        <hr>
        <a style='font-family:微軟正黑體;font-size:14pt;letter-spacing:2pt;'>{{ post.body }}</a> 
        <br>
        <br>
        <br>
        <p>狀態: 
            <input type="radio" id="in_library" name="booking" value="In Library" {% if form.booking == 'In Library' %}checked{% endif %}>
            <label for="in_library">館藏中</label>
        
            <input type="radio" id="reserved" name="booking" value="Reserved" {% if form.booking == 'Reserved' %}checked{% endif %}>
            <label for="reserved">預約中</label>

            <input type="radio" id="on_loan" name="booking" value="On Loan" {% if form.booking == 'On Loan' %}checked{% endif %}>
            <label for="on_loan">外借中</label>
        </p>
        <br>
        <input type='button' value='立刻預約' style='background-color:f2e6e6'
        onclick='location.href="/form"'>

        

    </div>
    <div class="img">
        {{ post.img | safe }}</a> 
    </div>
</div>
{% endblock content%}





        
